

<ul class="nav nav-tabs justify-content-end" style="background-color:white ;">
  <li class="nav-item">
    <a class="nav-link disabled" style="color: black; font-family: roboto;" href="#" tabindex="-1" aria-disabled="true">Reportes de Incidencia</a>
  </li>
  <li class="nav-item">
    <%= link_to 'Reportes', reports_path, class:"nav-link" if Current.user%>
  </li>

  <li class="nav-item">
    <%= link_to 'Cerrar Sesion',  session_path(Current.user::id), data: {  
        turbo_method: :delete,
        turbo_confirm: '¿Cerrar sesion?'
    }, class:"nav-link"  if Current.user %>
  </li>

  <li class="nav-item">
    <%= link_to user_path(Current.user::id) do%>
      <%= image_tag Current.user::photo , class:"rounded-image-frame"%>
    <%end if Current.user%>
  </li>
</ul>

