body{
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, #374163, #4edcf5, #374163);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.conteiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.panel{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 10px;
    color: #333; /* Color del texto del encabezado */

}